In [1]:
import pandas as pd

In [2]:
# 기존 연월일 데이터를 연월로 다시 다운로드 후 전처리 재 진행
# 2020년 10월 ~ 2022년 12월
pd.set_option('display.float_format', '{:,.2f}'.format) # 컬럼에서 값이 e로 나오는 것을 식별가능한 숫자로 변경
bit_copy = pd.read_csv('./data/bit_mon.csv')
eth_copy = pd.read_csv('./data/eth_mon.csv')
wemix_copy = pd.read_csv('./data/wemix_month.csv')
luna_copy = pd.read_csv('./data/luna.csv')

In [3]:
# 오픈, 고가, 저가, 변동 % 삭제
bit_copy.drop(bit_copy.columns[[2,3,4,6]], axis=1, inplace=True)
eth_copy.drop(eth_copy.columns[[2,3,4,6]], axis=1, inplace=True)
wemix_copy.drop(wemix_copy.columns[[2,3,4,6]], axis=1, inplace=True)
luna_copy.drop(luna_copy.columns[[2,3,4,6]], axis=1, inplace=True)

In [5]:
# 루나의 거래량에 '-' 인게 있어서 '0'으로 수정
for i in range(len(luna_copy['거래량'])):
    if luna_copy['거래량'][i] == '-':
        luna_copy['거래량'][i] = '0'

In [6]:
# Python: Convert string with comma separator and dot to float
import locale
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

bit_copy['종가'] = bit_copy['종가'].map(locale.atof)
eth_copy['종가'] = eth_copy['종가'].map(locale.atof)

In [ ]:
# K, M, B 경우 따로 처리 진행(비트)
for i in range(len(bit_copy['거래량'])):
    if bit_copy['거래량'][i][-1] == 'K': # 마지막 단어가 K인 경우
        bit_copy['거래량'][i] = bit_copy['거래량'][i][:-1] # 마지막 단어 K를 없앰
        bit_copy['거래량'][i] = float(bit_copy['거래량'][i])
        bit_copy['거래량'][i] *= 1000 # 단위수 맞춤
    elif bit_copy['거래량'][i][-1] == 'M':
        bit_copy['거래량'][i] = bit_copy['거래량'][i][:-1] # 마지막 단어 M을 없앰
        bit_copy['거래량'][i] = float(bit_copy['거래량'][i])
        bit_copy['거래량'][i] *= 1000000 # 단위수 맞춤
    elif bit_copy['거래량'][i][-1] == 'B':
        bit_copy['거래량'][i] = bit_copy['거래량'][i][:-1] # 마지막 단어 B를 없앰
        bit_copy['거래량'][i] = float(bit_copy['거래량'][i])
        bit_copy['거래량'][i] *= 1000000000 # 단위수 맞춤

In [ ]:
# K, M, B 경우 따로 처리 진행(이더)
for i in range(len(eth_copy['거래량'])):
    if eth_copy['거래량'][i][-1] == 'K': # 마지막 단어가 K인 경우
        eth_copy['거래량'][i] = eth_copy['거래량'][i][:-1] # 마지막 단어 K를 없앰
        eth_copy['거래량'][i] = float(eth_copy['거래량'][i])
        eth_copy['거래량'][i] *= 1000 # 단위수 맞춤
    elif eth_copy['거래량'][i][-1] == 'M':
        eth_copy['거래량'][i] = eth_copy['거래량'][i][:-1] # 마지막 단어 M을 없앰
        eth_copy['거래량'][i] = float(eth_copy['거래량'][i])
        eth_copy['거래량'][i] *= 1000000 # 단위수 맞춤
    elif eth_copy['거래량'][i][-1] == 'B':
        eth_copy['거래량'][i] = eth_copy['거래량'][i][:-1] # 마지막 단어 B를 없앰
        eth_copy['거래량'][i] = float(eth_copy['거래량'][i])
        eth_copy['거래량'][i] *= 1000000000 # 단위수 맞춤

In [ ]:
# K, M, B 경우 따로 처리 진행(위믹스)
for i in range(len(wemix_copy['거래량'])):
    if wemix_copy['거래량'][i][-1] == 'K': # 마지막 단어가 K인 경우
        wemix_copy['거래량'][i] = wemix_copy['거래량'][i][:-1] # 마지막 단어 K를 없앰
        wemix_copy['거래량'][i] = float(wemix_copy['거래량'][i])
        wemix_copy['거래량'][i] *= 1000 # 단위수 맞춤
    elif wemix_copy['거래량'][i][-1] == 'M':
        wemix_copy['거래량'][i] = wemix_copy['거래량'][i][:-1] # 마지막 단어 M을 없앰
        wemix_copy['거래량'][i] = float(wemix_copy['거래량'][i])
        wemix_copy['거래량'][i] *= 1000000 # 단위수 맞춤
    elif wemix_copy['거래량'][i][-1] == 'B':
        wemix_copy['거래량'][i] = wemix_copy['거래량'][i][:-1] # 마지막 단어 B를 없앰
        wemix_copy['거래량'][i] = float(wemix_copy['거래량'][i])
        wemix_copy['거래량'][i] *= 1000000000 # 단위수 맞춤

In [ ]:
# K, M, B 경우 따로 처리 진행 (루나)
for i in range(len(luna_copy['거래량'])):
    if luna_copy['거래량'][i][-1] == 'M':
        luna_copy['거래량'][i] = luna_copy['거래량'][i][:-1] # 마지막 단어 M을 없앰
        luna_copy['거래량'][i] = float(luna_copy['거래량'][i])
        luna_copy['거래량'][i] *= 1000000 # 단위수 맞춤
    elif luna_copy['거래량'][i][-1] == 'B':
        luna_copy['거래량'][i] = '0'

In [12]:
# 날짜를 연, 월로 분리하고 싶음

# 날짜의 데이터는 '2022년 12월'로 구분자가 2개가 있음.
# 구분자를 하나로 변경.
bit_copy['날짜'] = bit_copy['날짜'].apply(lambda x: x.replace('년 ','-').replace('월', ''))

dates = bit_copy['날짜'].str.split('-') # 리스트로 데이터 리턴
bit_copy['연'] = dates.str.get(0)
bit_copy['월'] = dates.str.get(1)

In [13]:
# 날짜를 연, 월로 분리하고 싶음

# 날짜의 데이터는 '2022년 12월'로 구분자가 2개가 있음.
# 구분자를 하나로 변경.
eth_copy['날짜'] = eth_copy['날짜'].apply(lambda x: x.replace('년 ','-').replace('월', ''))

dates = eth_copy['날짜'].str.split('-') # 리스트로 데이터 리턴
eth_copy['연'] = dates.str.get(0)
eth_copy['월'] = dates.str.get(1)

In [14]:
# 날짜를 연, 월로 분리하고 싶음

# 날짜의 데이터는 '2022년 12월'로 구분자가 2개가 있음.
# 구분자를 하나로 변경.
wemix_copy['날짜'] = wemix_copy['날짜'].apply(lambda x: x.replace('년 ','-').replace('월', ''))

dates = wemix_copy['날짜'].str.split('-') # 리스트로 데이터 리턴
wemix_copy['연'] = dates.str.get(0)
wemix_copy['월'] = dates.str.get(1)

In [15]:
# 날짜를 연, 월로 분리하고 싶음

# 날짜의 데이터는 '2022년 12월'로 구분자가 2개가 있음.
# 구분자를 하나로 변경.
luna_copy['날짜'] = luna_copy['날짜'].apply(lambda x: x.replace('년 ','-').replace('월', ''))

dates = luna_copy['날짜'].str.split('-') # 리스트로 데이터 리턴
luna_copy['연'] = dates.str.get(0)
luna_copy['월'] = dates.str.get(1)

In [ ]:
# 월이 1자리수인 경우에는 2자리수로 바꿈
for i in range(len(bit_copy['월'])):
    if len(bit_copy['월'][i]) == 1:
        bit_copy['월'][i] = '0' + bit_copy['월'][i]

In [ ]:
# 월이 1자리수인 경우에는 2자리수로 바꿈
for i in range(len(eth_copy['월'])):
    if len(eth_copy['월'][i]) == 1:
        eth_copy['월'][i] = '0' + eth_copy['월'][i]

In [ ]:
# 월이 1자리수인 경우에는 2자리수로 바꿈
for i in range(len(wemix_copy['월'])):
    if len(wemix_copy['월'][i]) == 1:
        wemix_copy['월'][i] = '0' + wemix_copy['월'][i]

In [ ]:
# 월이 1자리수인 경우에는 2자리수로 바꿈
for i in range(len(luna_copy['월'])):
    if len(luna_copy['월'][i]) == 1:
        luna_copy['월'][i] = '0' + luna_copy['월'][i]

In [273]:
# 날짜를 2022.12 같은 형식으로 바꾸고 싶음(환율 데이터와 통일)
for i in range(len(bit_copy['날짜'])):
    bit_copy['날짜'][i] = bit_copy['연'][i] + '.'+ bit_copy['월'][i]

C:\Users\Jasper\AppData\Local\Temp\ipykernel_38336\1829434536.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bit_copy['날짜'][i] = bit_copy['연'][i] + '.'+ bit_copy['월'][i]

In [274]:
# 날짜를 2022.12 같은 형식으로 바꾸고 싶음(환율 데이터와 통일)
for i in range(len(eth_copy['날짜'])):
    eth_copy['날짜'][i] = eth_copy['연'][i] + '.'+ eth_copy['월'][i]

C:\Users\Jasper\AppData\Local\Temp\ipykernel_38336\4270571013.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eth_copy['날짜'][i] = eth_copy['연'][i] + '.'+ eth_copy['월'][i]

In [275]:
# 날짜를 2022.12 같은 형식으로 바꾸고 싶음(환율 데이터와 통일)
for i in range(len(wemix_copy['날짜'])):
    wemix_copy['날짜'][i] = wemix_copy['연'][i] + '.'+ wemix_copy['월'][i]

C:\Users\Jasper\AppData\Local\Temp\ipykernel_38336\779737643.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wemix_copy['날짜'][i] = wemix_copy['연'][i] + '.'+ wemix_copy['월'][i]

In [276]:
# 날짜를 2022.12 같은 형식으로 바꾸고 싶음(환율 데이터와 통일)
for i in range(len(luna_copy['날짜'])):
    luna_copy['날짜'][i] = luna_copy['연'][i] + '.'+ luna_copy['월'][i]

C:\Users\Jasper\AppData\Local\Temp\ipykernel_38336\1687377038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  luna_copy['날짜'][i] = luna_copy['연'][i] + '.'+ luna_copy['월'][i]

In [20]:
# '종류'라는 컬럼 추가
bit_copy['종류'] = '비트코인'
eth_copy['종류'] = '이더리움'
wemix_copy['종류'] = '위믹스'
luna_copy['종류'] = '루나'

In [21]:
# 하다보니 현재 금액이 USD로 되어 있기 때문에 KRW로 변환하고 싶음
ex_rate = pd.read_excel('./data/MonAvgStdExRate.xlsx') # 월평균 매매 기준율(2020.10 ~ 2022.12) 생성 (서울외국환중개)
ex_rate.loc[26] = ['2022.12','',float(1302.02)] # 12월 매매기준율 평균
ex_rate.sort_values('날짜', ascending=False, inplace=True) # 날짜 기준 내림차순(최신순)으로 정렬
# 날짜를 연 월로 분리 (2020.12 형식임)
ex_dates = ex_rate['날짜'].str.split('.') # 리스트로 데이터 리턴
ex_rate['연'] = ex_dates.str.get(0)
ex_rate['월'] = ex_dates.str.get(1)
# 날짜, 통화명 제거
del ex_rate['날짜']
del ex_rate['통화명']
# 컬럼명 변경
ex_rate.rename(columns={'월평균 매매기준율':'환율'}, inplace=True)
# 컬럼 순서 변경
ex_rate = ex_rate[['연','월','환율']]
# '월' 컬럼에 공백이 있음으로 처리
ex_rate['월'] = ex_rate['월'].str.strip()

In [22]:
# 연 월로 환율 조회하는 방법
ex_rate.loc[(ex_rate['연'] =='2020') & (ex_rate['월'] =='11'),['환율']]

        환율
1 1,116.76

In [23]:
# bit_krw df 새로 생성
bit_krw = bit_copy.copy()
# 원달러환율 컬럼 추가, ex_rate의 연월 일치하는 환율을 찾아서 대입
bit_krw['원달러환율'] = 0

# 계산을 위한 초기 변수 설정
years = ['2020','2021','2022']
months = ['01','02','03','04','05','06','07','08','09','10','11','12']
krw_rate = 0

for year in years:
    for month in months:
        krw_rate = ex_rate.loc[(ex_rate['연'] ==year) & (ex_rate['월'] ==month),['환율']]
        krw_rate = krw_rate.squeeze() #데이터프레임을 시리즈로 변환하여 계산할수 있게 함.
        bit_krw.loc[(bit_krw['연'] ==year) & (bit_krw['월'] ==month),['원달러환율']] = krw_rate
print(bit_krw.head())
print(bit_krw.tail())

        날짜        종가           거래량     연   월    종류    원달러환율
0  2022-12 16,868.90  5,640,000.00  2022  12  비트코인 1,302.02
1  2022-11 17,163.90 10,300,000.00  2022  11  비트코인 1,364.10
2  2022-10 20,496.30  8,290,000.00  2022  10  비트코인 1,426.66
3   2022-9 19,423.00 10,910,000.00  2022  09  비트코인 1,391.59
4   2022-8 20,043.90  6,550,000.00  2022  08  비트코인 1,318.44
         날짜        종가          거래량     연   월    종류    원달러환율
22   2021-2 45,164.00 4,010,000.00  2021  02  비트코인 1,111.72
23   2021-1 33,108.10 5,500,000.00  2021  01  비트코인 1,097.49
24  2020-12 28,949.40 3,850,000.00  2020  12  비트코인 1,095.13
25  2020-11 19,698.10 4,050,000.00  2020  11  비트코인 1,116.76
26  2020-10 13,797.30 2,410,000.00  2020  10  비트코인 1,144.68

In [24]:
# eth_krw df 새로 생성
eth_krw = eth_copy.copy()
# 원달러환율 컬럼 추가, ex_rate의 연월 일치하는 환율을 찾아서 대입
eth_krw['원달러환율'] = 0

# 계산을 위한 초기 변수 설정
years = ['2020','2021','2022']
months = ['01','02','03','04','05','06','07','08','09','10','11','12']
krw_rate = 0

for year in years:
    for month in months:
        krw_rate = ex_rate.loc[(ex_rate['연'] ==year) & (ex_rate['월'] ==month),['환율']]
        krw_rate = krw_rate.squeeze() #데이터프레임을 시리즈로 변환하여 계산할수 있게 함.
        eth_krw.loc[(eth_krw['연'] ==year) & (eth_krw['월'] ==month),['원달러환율']] = krw_rate
print(eth_krw.head())
print(eth_krw.tail())

        날짜       종가           거래량     연   월    종류    원달러환율
0  2022-12 1,223.71 10,110,000.00  2022  12  이더리움 1,302.02
1  2022-11 1,294.41 25,720,000.00  2022  11  이더리움 1,364.10
2  2022-10 1,572.89 18,770,000.00  2022  10  이더리움 1,426.66
3   2022-9 1,328.73 26,340,000.00  2022  09  이더리움 1,391.59
4   2022-8 1,555.12 30,210,000.00  2022  08  이더리움 1,318.44
         날짜       종가            거래량     연   월    종류    원달러환율
22   2021-2 1,418.76  53,760,000.00  2021  02  이더리움 1,111.72
23   2021-1 1,312.73  79,040,000.00  2021  01  이더리움 1,097.49
24  2020-12   735.94 300,290,000.00  2020  12  이더리움 1,095.13
25  2020-11   615.92 437,160,000.00  2020  11  이더리움 1,116.76
26  2020-10   386.42 209,520,000.00  2020  10  이더리움 1,144.68

In [25]:
# wemix_krw df 새로 생성
wemix_krw = wemix_copy.copy()
# 원달러환율 컬럼 추가, ex_rate의 연월 일치하는 환율을 찾아서 대입
wemix_krw['원달러환율'] = 0

# 계산을 위한 초기 변수 설정
years = ['2020','2021','2022']
months = ['01','02','03','04','05','06','07','08','09','10','11','12']
krw_rate = 0

for year in years:
    for month in months:
        krw_rate = ex_rate.loc[(ex_rate['연'] ==year) & (ex_rate['월'] ==month),['환율']]
        krw_rate = krw_rate.squeeze() #데이터프레임을 시리즈로 변환하여 계산할수 있게 함.
        wemix_krw.loc[(wemix_krw['연'] ==year) & (wemix_krw['월'] ==month),['원달러환율']] = krw_rate
print(wemix_krw.head())
print(wemix_krw.tail())

        날짜   종가            거래량     연   월   종류    원달러환율
0  2022-12 0.37 559,650,000.00  2022  12  위믹스 1,302.02
1  2022-11 0.42  55,250,000.00  2022  11  위믹스 1,364.10
2  2022-10 1.24  39,490,000.00  2022  10  위믹스 1,426.66
3   2022-9 1.79  13,000,000.00  2022  09  위믹스 1,391.59
4   2022-8 2.10  18,200,000.00  2022  08  위믹스 1,318.44
        날짜   종가           거래량     연   월   종류    원달러환율
2  2022-10 1.24 39,490,000.00  2022  10  위믹스 1,426.66
3   2022-9 1.79 13,000,000.00  2022  09  위믹스 1,391.59
4   2022-8 2.10 18,200,000.00  2022  08  위믹스 1,318.44
5   2022-7 2.44  6,980,000.00  2022  07  위믹스 1,307.40
6   2022-6 2.85  3,970,000.00  2022  06  위믹스 1,277.35

In [26]:
# luna_krw df 새로 생성
luna_krw = luna_copy.copy()
# 원달러환율 컬럼 추가, ex_rate의 연월 일치하는 환율을 찾아서 대입
luna_krw['원달러환율'] = 0

# 계산을 위한 초기 변수 설정
years = ['2020','2021','2022']
months = ['01','02','03','04','05','06','07','08','09','10','11','12']
krw_rate = 0

for year in years:
    for month in months:
        krw_rate = ex_rate.loc[(ex_rate['연'] ==year) & (ex_rate['월'] ==month),['환율']]
        krw_rate = krw_rate.squeeze() #데이터프레임을 시리즈로 변환하여 계산할수 있게 함.
        luna_krw.loc[(luna_krw['연'] ==year) & (luna_krw['월'] ==month),['원달러환율']] = krw_rate
print(luna_krw.head())
print(luna_krw.tail())

        날짜   종가           거래량     연   월  종류    원달러환율
0  2022-12 1.31  9,100,000.00  2022  12  루나 1,302.02
1  2022-11 1.62 10,310,000.00  2022  11  루나 1,364.10
2  2022-10 2.44 18,680,000.00  2022  10  루나 1,426.66
3   2022-9 2.48 49,460,000.00  2022  09  루나 1,391.59
4   2022-8 1.79 10,830,000.00  2022  08  루나 1,318.44
        날짜    종가 거래량     연   월  종류    원달러환율
17  2021-7 10.72   0  2021  07  루나 1,143.98
18  2021-6  6.56   0  2021  06  루나 1,121.30
19  2021-5  6.55   0  2021  05  루나 1,123.28
20  2021-4 16.69   0  2021  04  루나 1,119.40
21  2021-3 18.68   0  2021  03  루나 1,131.02

In [27]:
# 종가(KRW) 컬럼 추가
bit_krw['종가(KRW)'] = bit_krw['종가'] * bit_krw['원달러환율']
eth_krw['종가(KRW)'] = eth_krw['종가'] * eth_krw['원달러환율']
wemix_krw['종가(KRW)'] = wemix_krw['종가'] * wemix_krw['원달러환율']
luna_krw['종가(KRW)'] = luna_krw['종가'] * luna_krw['원달러환율']

In [28]:
# 컬럼명 변경 및 컬럼 순서 변경
bit_krw.rename(columns={'종가':'종가(USD)'}, inplace=True)
bit_krw = bit_krw[['종류','날짜','연','월','종가(USD)','종가(KRW)','원달러환율', '거래량']]

# 컬럼명 변경 및 컬럼 순서 변경
eth_krw.rename(columns={'종가':'종가(USD)'}, inplace=True)
eth_krw = eth_krw[['종류','날짜','연','월','종가(USD)','종가(KRW)','원달러환율', '거래량']]

# 컬럼명 변경 및 컬럼 순서 변경
wemix_krw.rename(columns={'종가':'종가(USD)'}, inplace=True)
wemix_krw = wemix_krw[['종류','날짜','연','월','종가(USD)','종가(KRW)','원달러환율', '거래량']]

# 컬럼명 변경 및 컬럼 순서 변경
luna_krw.rename(columns={'종가':'종가(USD)'}, inplace=True)
luna_krw = luna_krw[['종류','날짜','연','월','종가(USD)','종가(KRW)','원달러환율', '거래량']]

In [29]:
# bit_krw 데이터 전처리. 끝.
bit_krw.head()

     종류       날짜     연   월   종가(USD)       종가(KRW)    원달러환율           거래량
0  비트코인  2022-12  2022  12 16,868.90 21,963,645.18 1,302.02  5,640,000.00
1  비트코인  2022-11  2022  11 17,163.90 23,413,275.99 1,364.10 10,300,000.00
2  비트코인  2022-10  2022  10 20,496.30 29,241,251.36 1,426.66  8,290,000.00
3  비트코인   2022-9  2022  09 19,423.00 27,028,852.57 1,391.59 10,910,000.00
4  비트코인   2022-8  2022  08 20,043.90 26,426,679.52 1,318.44  6,550,000.00

In [30]:
# eth_krw 데이터 전처리. 끝.
eth_krw.head()

     종류       날짜     연   월  종가(USD)      종가(KRW)    원달러환율           거래량
0  이더리움  2022-12  2022  12 1,223.71 1,593,294.89 1,302.02 10,110,000.00
1  이더리움  2022-11  2022  11 1,294.41 1,765,704.68 1,364.10 25,720,000.00
2  이더리움  2022-10  2022  10 1,572.89 2,243,979.25 1,426.66 18,770,000.00
3  이더리움   2022-9  2022  09 1,328.73 1,849,047.38 1,391.59 26,340,000.00
4  이더리움   2022-8  2022  08 1,555.12 2,050,332.41 1,318.44 30,210,000.00

In [31]:
# wemix_krw 데이터 전처리. 끝.
wemix_krw.head()

    종류       날짜     연   월  종가(USD)  종가(KRW)    원달러환율            거래량
0  위믹스  2022-12  2022  12     0.37   486.83 1,302.02 559,650,000.00
1  위믹스  2022-11  2022  11     0.42   572.51 1,364.10  55,250,000.00
2  위믹스  2022-10  2022  10     1.24 1,774.48 1,426.66  39,490,000.00
3  위믹스   2022-9  2022  09     1.79 2,484.68 1,391.59  13,000,000.00
4  위믹스   2022-8  2022  08     2.10 2,762.51 1,318.44  18,200,000.00

In [32]:
# luna_krw 데이터 전처리. 끝.
luna_krw.head()

   종류       날짜     연   월  종가(USD)  종가(KRW)    원달러환율           거래량
0  루나  2022-12  2022  12     1.31 1,710.07 1,302.02  9,100,000.00
1  루나  2022-11  2022  11     1.62 2,205.48 1,364.10 10,310,000.00
2  루나  2022-10  2022  10     2.44 3,482.48 1,426.66 18,680,000.00
3  루나   2022-9  2022  09     2.48 3,453.79 1,391.59 49,460,000.00
4  루나   2022-8  2022  08     1.79 2,353.81 1,318.44 10,830,000.00

In [33]:
total_df = pd.concat([bit_krw,eth_krw,wemix_krw,luna_krw],ignore_index=True)

In [34]:
total_df

      종류       날짜     연   월   종가(USD)       종가(KRW)    원달러환율           거래량
0   비트코인  2022-12  2022  12 16,868.90 21,963,645.18 1,302.02  5,640,000.00
1   비트코인  2022-11  2022  11 17,163.90 23,413,275.99 1,364.10 10,300,000.00
2   비트코인  2022-10  2022  10 20,496.30 29,241,251.36 1,426.66  8,290,000.00
3   비트코인   2022-9  2022  09 19,423.00 27,028,852.57 1,391.59 10,910,000.00
4   비트코인   2022-8  2022  08 20,043.90 26,426,679.52 1,318.44  6,550,000.00
..   ...      ...   ...  ..       ...           ...      ...           ...
78    루나   2021-7  2021  07     10.72     12,268.38 1,143.98             0
79    루나   2021-6  2021  06      6.56      7,353.04 1,121.30             0
80    루나   2021-5  2021  05      6.55      7,359.62 1,123.28             0
81    루나   2021-4  2021  04     16.69     18,681.11 1,119.40             0
82    루나   2021-3  2021  03     18.68     21,131.07 1,131.02             0

[83 rows x 8 columns]

In [35]:
# csv 파일로 저장
total_df.to_csv('./data/total_df.csv')